@font-face {
    font-family: 'TTLakes';
    src: url('../assets/fonts/TT\ Lakes\ Neue\ Trial\ Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'TTLakes';
    src: url('../assets/fonts/TT\ Lakes\ Neue\ Trial\ Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'TTLakes';
    src: url('../assets/fonts/TT\ Lakes\ Neue\ Trial\ Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'TTLakes';
    src: url('../assets/fonts/TT\ Lakes\ Neue\ Trial\ ExtraBold.ttf');
    font-weight: 900;
}